<!DOCTYPE html>
    <head>
    {% load static%}
    <link rel="stylesheet"type="text/css" href="{% static 'rssapp/bootstrap.min.css' %}">
        <title>
         RSSer IT
        </title>
    <script type="text/javascript" src="{% static 'rssapp/vue.js'%}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>