{% load static%}
<link rel="stylesheet"type="text/css" href="{% static 'rssapp/channels.css' %}">
{% verbatim %}
<div class="row mb-4">
        <div class="col-4">
                <h4> Fetch period: {{ updatePeriodValue }} days </h4> 

        </div>
        <div class="col-3">
                <input type="text" v-model="period" placeholder="days" number class="form-control">
                 <font color="red" v-if="invalidInput">Please give a number > 0 !</font> 
        </div>
        <div class="col-2">
                <button class="btn btn-secondary" @click="newPeriod">Change</button>
        </div>
</div> 
<div class="row mb-4">
        <div class="col-4">
                <h4>Add channel url:</h4>
        </div>
        <div class="col-5">
                <input type="text" v-model="newLink" placeholder="RSS feed URL" class="form-control">
        </div>
        <div class="col-2">
                <button class="btn btn-secondary" @click="newFeed">Save</button>
        </div>
</div>



        <table class="table table-striped">
        <thead>
        <tr>
                <th>ID</th>
                <th class="text-center">RSS URL</th>
                <th>Actions</th>
                <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="feed in feeds">
                <th><a v-bind:href="feed.id">{{ feed.id }}</a></th>
                <th><a v-bind:href="feed.url">{{ feed.url }}</a></th>
                <th><a @click="deleteFeed(feed.id)" class="text-danger">Delete</a><th>
        </tr>
        </tbody>
        </table>

{% endverbatim %}