{% load static%}
<link rel="stylesheet"type="text/css" href="{% static 'rssapp/feeds.css' %}">
<div>
        {% verbatim %}
        <input type="text" v-model="searchKey" placeholder="Search by any publish date, link or author" class="form-control">
        <br>
        <table class="table table-fit " border="1" style="max-width:2000px; background-color: white">
        <thead>
                <tr>
                <th v-on:click="orderBy('publish_date')" class="text-center" width="30%">PUBLISH DATE</th>
                <th v-on:click="orderBy('link')" class="text-center" width="30%">LINK</th>
                <th v-on:click="orderBy('author')" class="text-center" width="30%">AUTOR</th>
        </tr>
        </thead>
        <tbody>
                <tr width="100%" v-for="item in orderedByItems">
                <td colspan="3">
                 <table class="table table-striped" width="100%" style="max-width:1500px; table-layout:fixed">
                <tr>
                <th class="text-center"><a v-bind="item.publish_date">{{ item.publish_date }}</a></th>
                <th class="text-center"><a v-bind:href="item.link">{{ item.title }}</a></th>
                <th class="text-center"><a v-bind="item.author">{{ item.author }}</a></th>
                </tr>
                <tr>
                 <table class="table" style="max-width:1500px; table-layout:fixed">
                <template v-if="item.feedburner_origenclosurelink">
                <tr><a v-bind:href= "item.feedburner_origenclosurelink" download>{{ item.feedburner_origenclosurelink }}</a><tr>
                </template>
                 <template v-for="ref in item.refs">
                <tr><a v-bind:href="ref" download>{{ ref }}</a></tr>
                 </template>
                 </table>

                </tr>
                </table>
                </td>
        </tr>
        </tbody>
        </table>
        
        {% endverbatim %}
</div>