{% extends 'rssapp/base.html' %}
{% block body %}
<div id="rss-app" class="container mt-4">
        <ul class="nav mb-4">
                <li class="nav-item">
                        <a class="nav-link" href="#feeds" @click="setRoute('feeds')">Feeds</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#channels" @click="setRoute('channels')">Channels</a>
                </li>
        </ul>
        <div v-if="route == 'channels'">
                {% include 'rssapp/channels.html' %}
        </div>
        <div v-if="route == 'feeds'">
                {% include 'rssapp/feeds.html' %}
        </div>
</div>

{% load static %}
<script type="application/javascript" src="{% static 'rssapp/lodash.js' %}"></script>
<script type="application/javascript" src="{% static 'rssapp/app.js' %}"></script>
<script type="application/javascript">
window.addEventListener("load", function() {
        rssApp.setup();
});
</script>
{% endblock %}