body {
    background-image: none;
    background-color:rgb(236, 236, 236);
    }
table {
    bgcolor: 
}
thead td tr tbody {
    width: 100%;
    height: 100%;
}
thead th div {
    position: fixed;
  }
thead {
background-color: rgb(142, 204, 191);
}


